
.bignext {
  height: 180px;
  width: 180px;

}
.bignext span {
  margin-top: 10px;
}

.bignext:hover {
  -moz-animation-name: jump;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.8s;

  -webkit-animation-name: jump;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.8s;

  animation-name: jump;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;

}

.smallnext{

  padding: 20px;
  line-height: 20px
}

.nextbutton a{
  text-decoration: none;
}

.smalltext:hover {

    -moz-animation-name: right;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: right;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;

    animation-name: right;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;

}
.return-bottom {
  transition: all 210ms ease;
  z-index: 5;
  display: inline-block;


  bottom: 20%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
color: white;

  background: #2196F3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .9s 0s, visibility 0s 1.9s;
  -moz-transition: opacity .9s 0s, visibility 0s 1.9s;
  transition: opacity .9s 0s, visibility 0s 1.9s;
}
.return-bottom.visible, .return-bottom.return-fade-out, .no-touch .return-bottom:hover {
  -webkit-transition: opacity 3s 0s, visibility 0s 0s;
  -moz-transition: opacity 3s 0s, visibility 0s 0s;
  transition: opacity 3s 0s, visibility 0s 0s;
    animation-timing-function: ease-in;
}
.return-bottom.visible {

  visibility: visible !important;
  opacity: 1 !important;

}
.return-bottom.return-fade-out {

  opacity: .5;
}
.return-bottom:hover {
  background-color: #0c7cd5;

  transition: all 210ms ease;




}



.addjump {

    -moz-animation-name: jump;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: jump;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;

    animation-name: jump;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;

}

/* ANIMATIONS */

@-moz-keyframes jump {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateY(-5px);
    }
    100% {
        -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes jump {
  0% {
      -webkit-transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateY(-5px);
  }
  100% {
      -webkit-transform: translateY(0px);
}
}
@keyframes jump {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
}
}


@-moz-keyframes right {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateX(5px);
    }
    100% {
        -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes right {
  0% {
      -webkit-transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateX(5px);
  }
  100% {
      -webkit-transform: translateY(0px);
}
}
@keyframes right {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateX(5px);
  }
  100% {
      transform: translateY(0px);
}
}





}
@media only screen and (min-width: 768px) {
  .return-bottom {

  }
}
@media only screen and (min-width: 1024px) {
  .return-bottom {

  }
}
