
@media screen and (min-width: 0px) and (max-width: 769px) {
  .cards {
    text-align: center;
  }

  #card2 h3{
    text-align: center !important;
    max-width: 500px;
  }
}

.projimg {
max-width: 90%;

}



@media screen and (min-width: 769px) and (max-width: 4000px) {
  .navbarmobile{
height: 100% !important;
width: 100px !important;
  }

  .infotab{
    position: absolute;
    bottom: 0;
    left: -15;


}

  .projimg {
  max-width: 600px;

  }

.nav-tab{
    width: 100px;
    padding: 0px;
    margin-left: 15px;
      border-right: 0px !important;
      border-bottom: 1px solid grey;
}

.content {

border-left: transparent solid 115px;
}

.projimg {

margin: auto;}

}

.cards h3 {
  align-items: center;
  margin: auto;

  text-align: left !important;


}


.navbarmobile {
font-family: 'Libre Baskerville', serif;
  width: 100%;
  height: 80px;
  background-color: #161604;
  color: white;
  position:fixed;
  bottom: 0;
    z-index: 3;
}

.nav-tab {
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 70px;
  color: #999;
  border-right: 1px solid #212121;
  text-decoration: none;
  list-style: none;
        transition: all 210ms ease;
}

.nav-tab:hover {
  background-color:  grey;
  color: #161604;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.current {
  background-color: #2CDA78;
  color: #212121;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.navicon {
  margin-top:10px;
    margin-bottom: -15px;
}

.infotab {
  text-decoration: none;
}
