
/* GENERAL STYLE */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
font-family: 'Roboto', sans-serif;
    width: 100%;

    background-color: ;


}

html {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}


#pattern {
  width: 100%;
 height: 100%;
}
#bottombg {
   background-color:;
   width: 100%;
   position: absolute;
   bottom: 0px;
   height: auto;
}


#logolanding {
height: 60px;


}

.middlelanding {
  background-color: ;
position: fixed;
margin-top: 390px;
margin-right: auto;
margin-left: 39%;
color: white;
}

#continue {

  margin-top: 30px;
  margin-left: 130px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bgscroll {
  overflow-y: hidden;
}



h1 {
font-weight: 300 ;
font-size: 30px;
}


h2{
      font-weight: 300;
        font-size: 25px;


  }

h3{
  font-weight: 300 !important;
  font-size: 16px !important;

  line-height: 25px;
}


h4 {
  color: #303030;
  font-size: 12px;
}


h5 {
  color: #303030;
  font-size: 38px;
  font-weight: 400;
}

strong {
  font-weight: 500;

}

  p{
    font-size: 14px;
      font-weight: 300;
  }



.centered{
  text-align: center;
}

.centered h1 {
  text-align: center;
}

.centered h2{
  text-align: center;
}

.centered h3 {
  text-align: center;
}

.big {
  font-size: 300px;
}
.big svg{
  width: 300px;
  max-width: 80%;
}
.meat {
  margin: auto;
  width: 90%;
    overflow: hidden;
      max-width: 1200px;

}

.mockup{

}

.overflowhidden{
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflowxhidden{
  overflow-x: hidden;
}

.meatblue{
  z-index: -1;
  height: 4%;
    background-color: #2196F3;
    width: 150%;
    margin-left: -20%;
    position: static;
    text-align: center;
    color: white;
    font-size: 18px;
}

.project {
  margin-bottom: 50px;
  margin-top: 50px;


}

.description {
  margin-top: -15px;
  text-align: center;

}




.development {
  margin-top: 20px;
  margin-bottom: 30px;
}

.icon {
margin: auto;

}

.icon svg{

  height: 100px;


}

.icon h3 {
  text-align: center;
}

.star {
  margin-left: 1%;
  margin-right: 1%;
height: 50%;

  color: #FFF176;
  display: inline;

}

.dark {
  color: lightgray;
}





.rating {
margin-top: 1%;

}

.know {

}

.iconbox {
  margin-bottom: 5%;


}

/* ANGLED CONTENT */
.angled {
margin-bottom: 5%;
-webkit-clip-path: polygon(0 0, 0 100%, 120% 80%, 100% 0);
padding-top: 5%;
padding-bottom: 5%;
padding-left: 5%;
padding-right: 5%;
overflow: hidden;

}

.angled h1, .angled h2, .angled h3, .angled span, .anglednext h1 {
  color: white !important;
  margin: auto;

}

.tilted1{
  background-color: #2196F3;
}

.tilted2{
  background-color: #70C05C;
}

.tilted3{
  background-color:  #C1272D;
}


.line {
/* #424242 */
  border: 1px solid lightgrey;
  width: 168%;
  margin-left: -50%;
  margin-bottom: 3%;


}

.lineshort{

    border: 1px solid lightgrey;
    width: 100%;

    margin-bottom: 4%;

}

.linesupershort{
  border: 1px solid #424242;
  width: 20%;

  margin-bottom: 6%;
  margin-top: 2%;

}



.skillset {

    margin-top: 60px;
}

.skillset h1 {
  margin-top: 2%;
}

.star3 {
  color: grey;
}


.marginbottom20 {
    margin-bottom: 20px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.margintop10{
  margin-top: 10px;
}

.margintop60{
  margin-top: 60px;
}

.marginbottom60 {
  margin-bottom: 10%;
}

.development {
  max-height: 200px;

}


.blue {
  color:#2196F3;
}

.imgabout {
  margin-left: 20%;
    margin-right: 20%;
  margin-top: 10%;

  text-align: center;
}





.serviceimg {
max-width: 100%;
height: auto;

max-height: 80px;
margin: auto;

}

.service {
  height: auto;
  padding: 5%;
  text-align: center;
}

.profileimg {
  margin: auto;
margin-top: 5%;
max-height: 500px;

}

.rowwidth {

  margin-left: auto;
  margin-right: auto;
max-width: 90%;
}

.small span {
  height: 100%;

}

.nomargin{
  margin: 0!important;
}

.showitem img {

        -webkit-clip-path: polygon(0 10%, 0 100%, 120% 100%, 100% 0);

}

.showitem img:hover {
  ;

}

#parmentshowitem {

  border: solid 0px #C1272D;

}



#drannashowitem {

    border: solid 0px #70C05C;

}

#kmshowitem {

    border: solid 0px #2196F3;
    background-color: #2196F3;

}

.lineC1272D {

  border: 1px solid #C1272D;
  width: 168%;
  margin-left: -50%;
  margin-bottom: 60px;


}

.line70C05C {

  border: 1px solid #70C05C;
  width: 168%;
  margin-left: -50%;
  margin-bottom: 60px;


}


.line2196F3 {

  border: 1px solid #2196F3;
  width: 168%;
  margin-left: -50%;
  margin-bottom: 60px;


}
.modal-meat {
  background-color: white;
  height:auto;
}



.logoimg{
  margin: auto;
}

.minusmargindown {
  margin-bottom: -100px;
}


.parmentred h1 {
  color:#C1272D !important;
}

.annagreen h1 {
  color:#70C05C !important;
}

.branding {
  margin-top: 10%;
}


.fixedheight {
  height: 300px;
}



.siteend{
  margin-bottom: 150px;
}

/* Link animation */
.text a {
  text-decoration: none;
  color: white;
}

.text a:hover{
  transform: scale(1.1);
  transition-duration: 1;
}

.text h1 {
  color:white;
}

#gradient img {
 opacity: 0.5;
}

.border{
border: 3px solid #2196F3;
padding-top: -30px;

}

.coollinks a {
  position: relative;
  color: #2196F3;
  text-decoration: none;
}

.coollinks a:hover {
  color: #2196F3;
}

.coollinks a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2196F3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.coollinks a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* LINK ANIMATION END */

.buttonwidth{
max-width: 640px;
margin: auto;
}



.text-align-left {
  text-align: left;
}

.letscode h1 , .letscode span{
  font-size: 50px;
  display: inline;
    color: white !important;
}

.bluetype h1 , .bluetype span{
  font-size: 70px;
  display: inline;

}

/* GENERAL STYLE END  */


/* TYPE ANIMATION */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* TYPE ANIMATION  END */


/* PROJECT BUTTONS */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
font-family: 'roboto', serif;
}

nav a {
  bottom: 0;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	    color: #424242;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
  	text-decoration: none;
    color: #2196F3;
}

.projectbutton a {
	padding: 10px 20px;
}

.projectbuttonwhite a::before{
  	border-color: white !important;

}

.projectbuttonwhite a{
      color: white !important;
}

.projectbutton a::before,
.projectbutton a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	border: 3px solid #424242;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.projectbutton a::after  {
	border-color: #2196F3;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.projectbutton a:hover::before,
.projectbutton a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.projectbutton a:hover::after,
.projectbutton a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

/* PROJECT BUTTON END */

/* FADE IN */

1
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay:0.3s;
  animation-delay: 0.3s;
}

.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fade-in.four {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.fade-in.five {
  -webkit-animation-delay: 4.8s;
  -moz-animation-delay: 4.8s;
  animation-delay: 4.8s;
}

body {
    opacity: 1;
    transition: 10s opacity;
}
body.fade-out {
    opacity: 0;
    transition: 10s;
}

/* FADE IN RIGHT */

.right200 {

    -moz-animation-name: right200;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: right200;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: right200;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes right200 {
    0% {
        -moz-transform: translateX(-200px);
    }
    100% {
        -moz-transform: translateX(0px);
    }
}
@-webkit-keyframes right200 {
    0% {
        -webkit-transform: translateX(-200px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes right200 {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.right5 {

    -moz-animation-name: right200;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: right200;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: right200;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes right5 {
    0% {
        -moz-transform: translateX(-5px);
    }
    100% {
        -moz-transform: translateX(0px);
    }
}
@-webkit-keyframes right5 {
    0% {
        -webkit-transform: translateX(-5px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes right5 {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}


/* FADE IN LEFT*/

.left200 {

    -moz-animation-name: left200;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: left200;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: left200;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes left200 {
    0% {
        -moz-transform: translateX(200px);
    }
    100% {
        -moz-transform: translateX(0px);
    }
}
@-webkit-keyframes left200 {
    0% {
        -webkit-transform: translateX(200px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes left200 {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}


.up200 {

    -moz-animation-name: up200;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: up200;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: up200;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes up200 {
    0% {
        -moz-transform: translateY(200px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
@-webkit-keyframes up200 {
    0% {
        -webkit-transform: translateY(200px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@keyframes up200 {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.up30 {

    -moz-animation-name: up30;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: up30;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: up1200;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes up1200 {
    0% {
        -moz-transform: translateY(30px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
@-webkit-keyframes up1200 {
    0% {
        -webkit-transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@keyframes up1200 {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.up5 {

    -moz-animation-name: up5;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: up5;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: up5;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes up5 {
    0% {
        -moz-transform: translateY(30px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
@-webkit-keyframes up5 {
    0% {
        -webkit-transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@keyframes up5 {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.down5 {

    -moz-animation-name: down5;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: down5;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: down5;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

@-moz-keyframes down5 {
    0% {
        -moz-transform: translateY(-10px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
@-webkit-keyframes down5 {
    0% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@keyframes down5 {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* FADE IN END */

/* BOTTOM STUFF */

.anglednext {

-webkit-clip-path: polygon(0 20%, 0 100%, 120% 100%, 100% 0);
padding-top: 3%;
padding-bottom: 3%;
overflow: hidden;

}

.anglednext a {
  display: block;
  text-decoration: none;
}
.bignext {
  height: 180px;
  width: 180px;
  bottom: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
      margin: auto;

}
.bignext span {
  margin-top: 10px;
}

.bignext:hover .anglednext:hover {
  -moz-animation-name: jump;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.8s;

  -webkit-animation-name: jump;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.8s;

  animation-name: jump;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;

}

.smallnext{

  padding: 20px;
  line-height: 20px
  bottom: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
      margin: auto;
}

.nextbutton a{
  text-decoration: none;
}

.smalltext:hover {

    -moz-animation-name: right;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: right;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;

    animation-name: right;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;

}
.return-bottom {
  transition: all 210ms ease;
  z-index: 5;






  overflow: hidden;
color: white;

  background: #2196F3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .9s 0s, visibility 0s 0.9s;
  -moz-transition: opacity .9s 0s, visibility 0s 0.9s;
  transition: opacity .9s 0s, visibility 0s 0.9s;
}
.return-bottom.visible, .return-bottom.return-fade-out, .no-touch .return-bottom:hover {
  -webkit-transition: opacity 1s 0s, visibility 0s 0s;
  -moz-transition: opacity 1s 0s, visibility 0s 0s;
  transition: opacity 1s 0s, visibility 0s 0s;
    animation-timing-function: ease-in;
}
.return-bottom.visible {

  visibility: visible !important;
  opacity: 1 !important;

}
.return-bottom.return-fade-out {

  opacity: .5;
}
.return-bottom:hover {
  background-color: #0c7cd5;
color: white;
  transition: all 210ms ease;




}



.addjump {

    -moz-animation-name: jump;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: jump;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;

    animation-name: jump;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;

}

/* ANIMATIONS */

@-moz-keyframes jump {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateY(-5px);
    }
    100% {
        -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes jump {
  0% {
      -webkit-transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateY(-5px);
  }
  100% {
      -webkit-transform: translateY(0px);
}
}
@keyframes jump {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
}
}


@-moz-keyframes right {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateX(5px);
    }
    100% {
        -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes right {
  0% {
      -webkit-transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateX(5px);
  }
  100% {
      -webkit-transform: translateY(0px);
}
}
@keyframes right {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateX(5px);
  }
  100% {
      transform: translateY(0px);
}
}

/* BOTTOM STUFF END */

/* MEDIA QUERIES and FOOTER */


@media screen and (min-width: 0px) and (max-width: 1200px) {
  .cards {
    text-align: center;

  }
}

@media screen and (min-width: 0px) and (max-width: 769px) {


  .mobilehide {
    display: none !important;
  }

  .mobileshow {
    display: block!important;
  }



  .iconboxdescription h3 {
    max-width: 100%;
    margin: auto;
  }

.margintop60, .margintop10 {
  margin-top: 1% !important;
}

  .name h1{
    font-size: 23px !important;
  }

  .enter h1{
    font-size: 35px!important;
  }

  .meat h2{
    font-size: 23px !important;
  }

}


@media screen and (min-height: 453px) and (max-height: 4000px) and (min-width: 769px) and (max-width: 4000px) {
.infotab{
  position: absolute;
  bottom: 0;
  left: -15;


}
}





@media screen and (min-width: 769px) and (max-width: 4000px) {
  .navbarmobile{
height: 100% !important;
width: 100px !important;
  }

  .mobileshow {
    display: none!important;
  }

  .mobilehide {
    display: block !important;
  }




  .worktop{
    margin-left: 90px;
  }

  .angled h1, .angled h2, .angled h3{

    text-align: center;
    margin: auto;
  }

  .projimg {
  max-width: 600px;

  }

.nav-tab{
    width: 100px;
    padding: 0px;
    margin-left: 15px;
      border-right: 0px !important;
      border-bottom: 1px solid #424242;
}

.meat {

border-left: transparent solid 115px;
}

.projimg {

margin: auto;
}

.logoimg img{
max-height: 150px;
margin: auto;

}


}



.navbarmobile {
font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 80px;
  background-color: #303030;
  color: white;

  position:fixed;
  bottom: 0;
    z-index: 3;
}

.nav-tab {
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 70px;
  color: #E3F2FD;
  border-right: 1px solid #212121;
  text-decoration: none;
  list-style: none;
        transition: all 210ms ease;
}

.nav-tab:hover {
  background-color:  #2196F3;
  color: #161604;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.current {
  background-color: #2196F3;
  color: #212121;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.navicon {
  margin-top:10px;
    margin-bottom: -15px;
}

.infotab {
  text-decoration: none;
}



/* MEDIA QUERIES and FOOTER END */

/* BACK TO TOP SCROLLER */




.return-top {
  z-index: 5;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20%;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2196F3 url(../img/return.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .9s 0s, visibility 0s .9s;
  -moz-transition: opacity .9s 0s, visibility 0s .9s;
  transition: opacity .9s 0s, visibility 0s .9s;
}
.return-top.return-is-visible, .return-top.return-fade-out, .no-touch .return-top:hover {
  -webkit-transition: opacity .9s 0s, visibility 0s 0s;
  -moz-transition: opacity .9s 0s, visibility 0s 0s;
  transition: opacity .9s 0s, visibility 0s 0s;
}
.return-top.return-is-visible {

  visibility: visible;
  opacity: 1;
}
.return-top.return-fade-out {

  opacity: .5;
}
.return-top:hover {
  background-color: #2196F3;
  opacity: 1;



  -moz-animation-name: jump;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.8s;

  -webkit-animation-name: jump;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.8s;

  animation-name: jump;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;


}

@-moz-keyframes jump {
    0% {
        -moz-transform: translateY(0px);
    }
    50% {
        -moz-transform: translateY(-5px);
    }
    100% {
        -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes jump {
  0% {
      -webkit-transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateY(-5px);
  }
  100% {
      -webkit-transform: translateY(0px);
}
}
@keyframes jump {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
}
}




}
@media only screen and (min-width: 768px) {
  .return-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .return-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* BACK TO TOP SCROLLER */
