@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
font-family: 'Roboto', sans-serif;
    width: 100%;

    background-color: ;


}




#pattern {
  width: 100%;
 height: 100%;
}
#bottombg {
   background-color:;
   width: 100%;
   position: absolute;
   bottom: 0px;
   height: auto;
}


#logolanding {
height: 60px;


}

.middlelanding {
  background-color: ;
position: fixed;
margin-top: 390px;
margin-right: auto;
margin-left: 39%;
color: white;
}

#continue {

  margin-top: 30px;
  margin-left: 130px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bgscroll {
  overflow-y: hidden;
}



h1 {
font-weight: 300 ;
font-size: 38px;
}


h2{
      font-weight: 300;
        font-size: 30px;
  color: #303030;

  }

h3{
  font-weight: 300 !important;
  font-size: 16px !important;
  color: black;
  line-height: 25px;
}


h4 {
  color: #303030;
  font-size: 12px;
}


h5 {
  color: #303030;
  font-size: 38px;
  font-weight: 400;
}

strong {
  font-weight: 500;

}

  p{
    font-size: 14px;
      font-weight: 300;
  }


.projimg img {




}


.centered{
  text-align: center;
}

.centered h1 {
  text-align: center;
}

.centered h2{
  text-align: center;
}

.centered h3 {
  text-align: center;
}

.big {
  font-size: 300px;
}
.big svg{
  width: 300px;
  max-width: 80%;
}
.meat {
  margin: auto;
  width: 90%;
    overflow: hidden;

}

.meatblue{
  z-index: -1;
  height: 4%;
    background-color: #2196F3;
    width: 150%;
    margin-left: -20%;
    position: static;
    text-align: center;
    color: white;
    font-size: 18px;
}

.project {
  margin-bottom: 50px;
  margin-top: 50px;
  max-height: 300px;


}

.description {
  margin-top: -15px;
  text-align: center;

}


.development {
  margin-top: 20px;
  margin-bottom: 30px;
}

.icon {
margin: auto;

}

.icon svg{

  height: 100px;


}

.icon h3 {
  text-align: center;
}

.star {
  margin-left: 1%;
  margin-right: 1%;
height: 50%;

  color: #FFF176;
  display: inline;

}





.rating {
margin-top: 1%;

}

.know {

}

.iconbox {
  margin-bottom: 5%;


}



.line {

  border: 1px solid #424242;
  width: 168%;
  margin-left: -50%;
  margin-bottom: 3%;


}

.lineshort{

    border: 1px solid #424242;
    width: 100%;

    margin-bottom: 4%;

}

.linesupershort{
  border: 1px solid #424242;
  width: 20%;

  margin-bottom: 6%;
  margin-top: 2%;

}



.skillset {

  margin-bottom: 3%;
    margin-top: 60px;
}

.skillset h1 {
  margin-top: 2%;
}

.star3 {
  color: grey;
}




.marginbottom30 {
    margin-bottom: 30px;
}

.margintop60{
  margin-top: 60px;
}

.development {
  max-height: 200px;

}


.blue {
  color:#2196F3;
}

.imgabout {
  margin-left: 20%;
    margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 20%;
  text-align: center;
}



.serviceimg {
max-width: 100%;
height: auto;

max-height: 80px;
margin: auto;

}

.service {
  height: auto;
  padding: 5%;
  text-align: center;
}

.profileimg {
  width: 100%;
  height: auto;
margin-top: 20%;
max-height: 60%;

}

.rowwidth {

  margin-left: auto;
  margin-right: auto;
max-width: 90%;
}

.small span {
  height: 100%;

}

.logoreal {
  margin: auto;
  text-align: center;
}

.logoreal img {
  width: 90%;
  margin: auto;
}

.logorealdescription {

}

.modal-meat {
  background-color: white;
  height:40%;
}

.projimg img {
max-width: 90%;

}

.logoimg{
  margin: auto;
}



.siteend{
  margin-bottom: 150px;
}

/* Link animation */
.text a {
  text-decoration: none;
  color: white;
}

.text a:hover{
  transform: scale(1.1);
  transition-duration: 1;
}

.text h1 {
  color:white;
}

#gradient img {
 opacity: 0.5;
}

.border{
border: 3px solid #2196F3;
padding-top: -30px;

}

.coollinks a {
  position: relative;
  color: #2196F3;
  text-decoration: none;
}

.coollinks a:hover {
  color: #2196F3;
}

.coollinks a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2196F3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.coollinks a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* LINK ANIMATION END */
